{
  "extends": [
    "stylelint-config-standard"
  ],
  "customSyntax": "postcss-styled-syntax",
    "rules": {
    "alpha-value-notation": null,
    "color-function-notation": null,
    "color-hex-length": "long",
    "color-named": "never",
    "color-no-invalid-hex": true,
    "comment-whitespace-inside": "always",
    "declaration-block-no-duplicate-properties": true,
    "declaration-block-no-redundant-longhand-properties": true,
    "declaration-block-no-shorthand-property-overrides": true,
    "declaration-block-single-line-max-declarations": 1,
    "font-family-no-duplicate-names": true,
    "font-family-no-missing-generic-family-keyword": null,
    "function-calc-no-unspaced-operator": true,
    "function-name-case": "lower",
    "function-url-no-scheme-relative": true,
    "keyframe-declaration-no-important": true,
    "length-zero-no-unit": true,
    "max-nesting-depth": 5,
    "media-feature-name-no-unknown": true,
    "media-feature-name-no-vendor-prefix": true,
    "no-descending-specificity": null,
    "no-duplicate-at-import-rules": true,
    "no-duplicate-selectors": true,
    "no-empty-source": null,
    "no-invalid-double-slash-comments": null,
    "property-no-vendor-prefix": true,
    "selector-max-attribute": 3,
    "selector-max-class": 4,
    "selector-max-compound-selectors": 7,
    "selector-max-id": 1,
    "selector-max-universal": 0,
    "selector-no-vendor-prefix": true,
    "selector-pseudo-element-colon-notation": "double",
    "selector-pseudo-element-no-unknown": true,
    "selector-type-case": [
      "lower",
      {
        "ignoreTypes": "$dummyValue"
      }
    ],
    "selector-type-no-unknown": null,
    "shorthand-property-no-redundant-values": true,
    "string-no-newline": true,
    "unit-no-unknown": [
      true,
      {
        "ignoreUnits": [
          "dvh, dvw"
        ]
      }
    ],
    "value-keyword-case": null,
    "value-no-vendor-prefix": true
  }
}